:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --nav-header-color: #000;
  --accent-color: #2196f3;
  --alt-title-color: #fff;
  --svg-icon-color: #afb1b8;
  --dark-background: #2f303a;
  --solutions-down-bg-color: #c4c4c4;
  --solutions-gradient-color: rgba(47, 48, 58, 0.4);
  --light-background: #f5f4fa;
  --header-border-color: #ececec;
  --projects-border-color: #eeeeee;
  --modal-close-button-border: rgba(0, 0, 0, 0.1);
  --works-overlay-color: rgba(47, 48, 58, 0.8);
  --project-overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-background-color: #00000033;
  --modal-form-input-border: rgba(33, 33, 33, 0.2);
  --main-font: 'Roboto', sans-serif;
  --title-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link, .contact-form, .checkbox-container, .checkbox__label, .features__icon-wrap, .works__list, .works__overlay, .team-list, .filter__list, .projects, .overlay, .subscribe-container, .subscribe__email, .subscribe__button, .subscribe__icon, .header-container, .navigation__pages {
  display: flex;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--alt-title-color);
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color 250ms var(--cubic-bezier);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.title {
  color: var(--title-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.mobile-menu__button {
  display: inline-flex;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  cursor: pointer;
  z-index: 70;
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-menu__button .mobile-menu__icon-close {
  display: none;
}

.mobile-menu__button.is-open .mobile-menu__icon-close {
  display: block;
}

.mobile-menu__button.is-open .mobile-menu__icon-menu {
  display: none;
}

.mobile-menu__icon-close,
.mobile-menu__icon-menu {
  fill: var(--title-color);
  transition: fill 250ms var(--cubic-bezier);
}

.mobile-menu__icon-close:focus,
.mobile-menu__icon-close:hover,
.mobile-menu__icon-menu:focus,
.mobile-menu__icon-menu:hover {
  fill: var(--accent-color);
}

.mobile-menu__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--alt-title-color);
  padding: 48px 40px;
  z-index: 50;
  display: none;
}

.mobile-menu__container.is-open {
  /*@media screen and (min-width: 768px) {
      display: none;
    }*/
}

@media screen and (max-width: 767px) {
  .mobile-menu__container.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mobile-menu__contacts-link {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
  transform: font-size 250ms var(--cubic-bezier), line-height 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
}

.mobile-menu__contacts-link:hover, .mobile-menu__contacts-link:focus, .mobile-menu__contacts-link.current {
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms var(--cubic-bezier);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__link--current {
  color: var(--accent-color);
}

.mobile-menu_social-network {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mobile-menu__social-network-item {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.mobile-menu__social-network-item:first-child {
  padding-left: 0;
}

@media screen and (min-width: 480px) {
  .mobile-menu__social-network-item {
    margin-bottom: 0;
  }
}

.mobile-menu__social-network-link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__social-network-link::after {
  content: '';
  position: absolute;
  right: -15%;
  top: 0;
  width: 1px;
  height: 22px;
  display: block;
  background-color: var(--modal-form-input-border);
}

.mobile-menu__social-network-link--no-border {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.logo-link {
  color: inherit;
  text-decoration: none;
}

.header-logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--nav-header-color);
}

@media screen and (max-width: 769.9px) {
  .header-logo {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .header-logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
  }
}

.footer-logo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--alt-title-color);
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    justify-content: left;
  }
}

.footer-logo__margin {
  /*margin-right: 0;*/
  margin-bottom: 20px;
}

.logo-link--accented {
  color: var(--accent-color);
}

@media screen and (max-width: 767.9px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row;
  }
}

.contacts__link {
  position: relative;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.solutions {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(to right, var(--solutions-gradient-color), var(--solutions-gradient-color)), url("../images/bg-image/mobile-bg@1x.jpg");
  color: var(--alt-title-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .solutions {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .solutions {
    background-image: linear-gradient(to right, var(--solutions-gradient-color), var(--solutions-gradient-color)), url("../images/bg-image/mobile-bg@2x.jpg");
  }
}

/*@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .solutions {
    background-image: linear-gradient(to right, var(--solutions-gradient-color), var(--solutions-gradient-color)),
      url('../images/bg-image/mobile-bg@2x.jpg');
  }*/
@media (min-width: 768px) {
  .solutions {
    background-image: linear-gradient(to right, var(--solutions-gradient-color), var(--solutions-gradient-color)), url("../images/bg-image/tablet-bg@1x.jpg");
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .solutions {
    background-image: linear-gradient(to right, var(--solutions-gradient-color), var(--solutions-gradient-color)), url("../images/bg-image/tablet-bg@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .solutions {
    background-image: linear-gradient(to right, var(--solutions-gradient-color), var(--solutions-gradient-color)), url("../images/bg-image/desktop-bg@1x.jpg");
    background-position: center;
    max-width: 1600px;
    height: 600px;
  }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .solutions {
    background-image: linear-gradient(to right, var(--solutions-gradient-color), var(--solutions-gradient-color)), url("../images/bg-image/desktop-bg@2x.jpg");
  }
}

.solutions__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .solutions__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.solutions__title-margin {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.solutions__button {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-color);
  color: inherit;
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: var(--backdrop-background-color);
  overflow-y: scroll;
  transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
}

.solutions-modal {
  position: relative;
  width: 100%;
  min-height: 610px;
  padding: 40px;
  background-color: var(--alt-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier);
}

@media screen and (min-width: 480px) {
  .solutions-modal {
    position: absolute;
    max-width: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .solutions-modal {
    min-width: 528px;
    height: 581px;
  }
}

.is-hidden .solutions-modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier);
}

.solutions-modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px 7px 7px 5px;
  width: 30px;
  height: 30px;
  background-color: var(--alt-title-color);
  border: 1px solid var(--modal-close-button-border);
  border-radius: 50%;
  cursor: pointer;
}

.solutions-modal__close-icon {
  fill: var(--nav-header-color);
  transition: fill 250ms var(--cubic-bezier);
}

.solutions-modal__close-button:hover .solutions-modal__close-icon,
.solutions-modal__close-button:focus .solutions-modal__close-icon {
  fill: var(--accent-color);
}

.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-title__margin {
  margin-bottom: 12px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
}

.contact-form {
  flex-direction: column;
}

.input-container {
  position: relative;
  display: block;
}

.input-container__margin {
  margin-bottom: 10px;
}

.input-container__comment-margin {
  margin-bottom: 20px;
}

/*.order-message {
  position: relative;
  display: block;
  margin-bottom: 20px;
}*/
.contact-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.contact-form__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--modal-form-input-border);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--cubic-bezier);
}

.contact-form__field:focus {
  border-color: var(--accent-color);
}

.contact-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms var(--cubic-bezier);
}

.contact-form__field:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__message {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.contact-form__message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-container {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -appearance: none;
  position: absolute;
}

.checkbox__wrap {
  position: relative;
  align-self: end;
  width: 16px;
  height: 15px;
  background-color: var(--alt-title-color);
  border: 2px solid var(--nav-header-color);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
}

@media screen and (min-width: 1200px) {
  .checkbox__wrap {
    align-self: center;
  }
}

.checkbox__input:hover + .checkbox__wrap {
  border: 2px solid var(--accent-color);
}

.checkbox__input:checked + .checkbox__wrap {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.checkbox__wrap-margin {
  margin-right: 7px;
}

.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--alt-title-color);
  stroke: var(--alt-title-color);
}

.checkbox__label {
  text-align: center;
  font-size: 12px;
  line-height: 1.16;
  white-space: nowrap;
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link--accented {
  color: var(--accent-color);
}

.checkbox__link-margin {
  margin-left: 5px;
}

.contact-form__submit-button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-color);
  color: var(--alt-title-color);
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}

.features {
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
  }
}

/*.features__position {
  margin-right: -30px;
}*/
.features__cards {
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .features__cards {
    flex-basis: calc((100% - 1 * 30px) / 1);
  }
}

@media screen and (min-width: 768px) {
  .features__cards {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__cards {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

/*.features__cards-margin {
  margin-right: 30px;
}*/
.features__icon-wrap {
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: var(--light-background);
}

.features__titles {
  min-width: 270px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767.9px) {
  .features__titles {
    text-align: center;
  }
}

.features__text {
  min-width: 270px;
  line-height: 1.71;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199.9px) {
  .works {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .works {
    display: block;
    padding-top: 0;
  }
}

.works__list {
  margin-right: -30px;
}

.works__card {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
}

.works__thumb {
  position: relative;
}

.works__overlay {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24%;
  left: 50%;
  bottom: 0;
  background-color: var(--works-overlay-color);
  transform: translate(-50%, 0);
}

.works__text {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--alt-title-color);
  margin: 0;
}

.team {
  background-color: var(--light-background);
}

.team-list {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.team-list__margin {
  margin-left: -30px;
  margin-top: -30px;
}

.team-list__card {
  background-color: var(--alt-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media screen and (min-width: 480px) {
  .team-list__card {
    flex-basis: calc((100% - 1 * 30px) / 1);
  }
}

@media screen and (min-width: 768px) {
  .team-list__card {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__card {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.team-list__card-margin {
  margin-left: 30px;
  margin-top: 30px;
}

.team-list__card-text {
  padding: 30px 32px 24px 32px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team-list__card-text {
    padding: 30px 32px;
  }
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-list__name-margin {
  margin-bottom: 10px;
}

.team-list__profession {
  font-size: 16px;
  line-height: 1.18;
}

.team-list__profession-margin {
  margin-top: 0;
  margin-bottom: 16px;
}

.social-networks__list {
  display: inline-flex;
}

.social-network__margin:not(:last-child) {
  margin-right: 10px;
}

.social-network__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--alt-title-color);
  transform: translateY(0);
  transition: transform 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier);
}

.social-network__link:hover, .social-network__link:focus {
  background-color: var(--accent-color);
  transform: translateY(-5%);
}

.social-network__icon {
  fill: var(--svg-icon-color);
  transform: translateY(0);
  transition: transform 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);
}

.social-network__link:hover .social-network__icon,
.social-network__link:focus .social-network__icon {
  fill: var(--alt-title-color);
  transform: translateY(-3%);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

/*.clients__margin:not(:last-child) {
  margin-right: 30px;
}*/
.clients__item {
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid var(--svg-icon-color);
  border-radius: 4px;
  transform: translateY(0);
  transition: transform 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
}

@media screen and (max-width: 767.9px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  transform: translateY(-5%);
}

.clients__icon {
  fill: var(--svg-icon-color);
  transform: translateY(0);
  transition: transform 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
  transform: translateY(-3%);
}

.filter__list {
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (max-width: 767.9px) {
  .filter__list {
    margin-top: -15px;
    margin-left: -8px;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767.9px) {
  .filter__margin {
    margin-top: 15px;
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .filter__margin:not(:last-child) {
    margin-right: 8px;
  }
}

.filter__button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: inherit;
  text-align: center;
  cursor: pointer;
  background-color: var(--light-background);
  color: var(--title-color);
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}

.filter__button:hover, .filter__button:focus, .filter__button.current {
  background-color: var(--accent-color);
  color: var(--alt-title-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .projects {
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.projects__margin {
  margin-top: -30px;
  margin-left: -30px;
}

.projects__card {
  margin-left: 30px;
  margin-top: 30px;
  background: var(--alt-title-color);
}

@media screen and (min-width: 480px) {
  .projects__card {
    flex-basis: calc((100% - 1 * 30px) / 1);
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .projects__card {
    flex-basis: calc((100% - 2 * 30px) / 2);
    flex-grow: 0;
  }
}

@media screen and (min-width: 1200px) {
  .projects__card {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms var(--cubic-bezier);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms var(--cubic-bezier);
}

.projects-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  padding: 63px 24px;
  background-color: var(--project-overlay-color);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier);
}

.projects__link:hover .overlay,
.projects__link:focus .overlay {
  transform: translateY(0);
  opacity: 1;
  transition: transform 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier);
}

.overlay__text {
  font-size: inherit;
  line-height: inherit;
  color: var(--alt-title-color);
}

@media screen and (min-width: 480px) {
  .overlay__text {
    font-size: 18px;
    line-height: 1.56;
  }
}

.project {
  padding: 20px 24px;
  border-left: 1px solid var(--projects-border-color);
  border-right: 1px solid var(--projects-border-color);
  border-bottom: 1px solid var(--projects-border-color);
  flex-grow: 1;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__title-margin {
  margin-bottom: 4px;
}

.project__text {
  font-size: 16px;
  line-height: 1.88;
}

.project__text-margin {
  margin: 0;
}

.contacts-block {
  /*@media screen and (max-width: 1199.9px) {
  }*/
}

@media screen and (max-width: 767.9px) {
  .contacts-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-block {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767.9px) {
  .address-block {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .address-block {
    margin-right: 70px;
  }
}

.address {
  font-style: inherit;
  line-height: 1.71;
  color: var(--alt-title-color);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__margin:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  color: inherit;
  text-decoration: none;
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

@media screen and (max-width: 1199.9px) {
  .footer-social-networks {
    margin-bottom: 60px;
    text-align: center;
    vertical-align: bottom;
  }
}

.footer-social-networks__text {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--alt-title-color);
}

.footer-social-networks__text-margin {
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer-social-network__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--cubic-bezier);
}

.footer-social-network__link:hover, .footer-social-network__link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer-social-network__icon {
  fill: var(--alt-title-color);
}

@media screen and (max-width: 1199.9px) {
  .subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    /*display: block;*/
    min-width: 570px;
    margin-left: auto;
  }
}

.subscribe__label {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--alt-title-color);
  margin-bottom: 20px;
  /*@media screen and (max-width: 1199.9px) {
    text-align: end;
  }*/
}

@media screen and (min-width: 1200px) {
  .subscribe__label {
    margin-left: 0;
  }
}

.subscribe-container {
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.subscribe__email {
  align-self: stretch;
  padding: 15px 16px 15px 16px;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms var(--cubic-bezier);
}

@media screen and (min-width: 480px) {
  .subscribe__email {
    min-width: 450px;
  }
}

@media screen and (max-width: 1199.98px) {
  .subscribe__email {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__email {
    min-width: 358px;
    margin-right: 12px;
  }
}

.subscribe__email:focus {
  border: 1px solid var(--accent-color);
}

.subscribe__email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  padding: 13px 28px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-color);
  color: var(--alt-title-color);
}

.subscribe__icon {
  align-self: center;
  fill: var(--alt-title-color);
}

.header-border {
  position: relative;
  border-bottom: 1px solid var(--header-border-color);
}

.header-container {
  align-items: center;
}

@media screen and (max-width: 767.9px) {
  .header-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .header-container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__position {
    margin-right: auto;
  }
}

/*.navigation__pages--flexed {
  @extend %flex;
}*/
.navigation__pages {
  position: relative;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

@media screen and (max-width: 767.9px) {
  .navigation__pages {
    display: none;
  }
}

.navigation__page--current {
  color: var(--accent-color);
}

.navigation__page--current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;
  transform: translateY(1px);
  transition: opacity 250ms var(--cubic-bezier);
}

.navigation__page:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: inline-block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-section {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767.9px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
/*# sourceMappingURL=main.css.map */