.contacts-block {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (max-width: 1199.9px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.address-block {
  @media screen and (max-width: 767.9px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199.9px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
.address {
  font-style: inherit;
  line-height: 1.71;
  color: var(--alt-title-color);
}

.address__margin:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  color: inherit;
  text-decoration: none;
}
.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
