.logo-link {
  color: inherit;
  text-decoration: none;
}

.header-logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--nav-header-color);

  @media screen and (max-width: 769.9px) {
    margin-left: 0;
  }

  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-logo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--alt-title-color);

  @media screen and (min-width: 1200px) {
    justify-content: left;
  }
}

.footer-logo__margin {
  /*margin-right: 0;*/
  margin-bottom: 20px;
}

.logo-link--accented {
  color: var(--accent-color);
}
