.contact-form {
  @extend %flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  display: block;
}

.input-container__margin {
  margin-bottom: 10px;
}

.input-container__comment-margin {
  margin-bottom: 20px;
}

/*.order-message {
  position: relative;
  display: block;
  margin-bottom: 20px;
}*/

.contact-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.contact-form__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid var(--modal-form-input-border);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms var(--cubic-bezier);

  &:focus {
    border-color: var(--accent-color);
  }
}

.contact-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;

  transition: fill 250ms var(--cubic-bezier);

  .contact-form__field:focus + & {
    fill: var(--accent-color);
  }
}

.contact-form__message {
  resize: none;
  height: 120px;
  padding: 12px 16px;

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox__label {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  line-height: 1.16;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;

  position: relative;
  top: 4px;

  background-color: var(--alt-title-color);
  border: 2px solid var(--nav-header-color);
  border-radius: 2px;
  cursor: pointer;

  margin-right: 5px;

  transition: background-color 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);

  .checkbox__input:hover + &,
  .checkbox__input:focus + & {
    box-shadow: 0px 0px 0px 2px var(--accent-color);
    border-color: var(--accent-color);
  }

  .checkbox__input:checked + & {
    background-image: url('../images/icon-check.svg');
    background-origin: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.checkbox__label-margin {
  margin-bottom: 30px;
}

.checkbox__link--accented {
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  border-radius: 2px;
}

.checkbox__link-margin {
  margin-left: 5px;
}

.contact-form__submit-button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-color);
  color: var(--alt-title-color);

  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier);
}
