.solutions-modal {
  position: relative;
  width: 100%;
  /*min-height: 610px;*/
  height: fit-content;
  padding: 40px;

  background-color: var(--alt-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier);

  @media screen and (min-width: 480px) {
    position: absolute;
    max-width: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    /*height: 581px;*/
    height: fit-content;
  }

  .is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier);
  }
}

.solutions-modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px 7px 7px 5px;
  width: 30px;
  height: 30px;
  background-color: var(--alt-title-color);
  border: 1px solid var(--modal-close-button-border);
  border-radius: 50%;
  cursor: pointer;
}

.solutions-modal__close-icon {
  fill: var(--nav-header-color);
  transition: fill 250ms var(--cubic-bezier);

  .solutions-modal__close-button:hover &,
  .solutions-modal__close-button:focus & {
    fill: var(--accent-color);
  }
}
.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-title__margin {
  margin-bottom: 12px;
}
