:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --nav-header-color: #000;
  --accent-color: #2196f3;
  --alt-title-color: #fff;
  --svg-icon-color: #afb1b8;

  --dark-background: #2f303a;
  --solutions-down-bg-color: #c4c4c4;
  --solutions-gradient-color: rgba(47, 48, 58, 0.4);
  --light-background: #f5f4fa;
  --header-border-color: #ececec;
  --projects-border-color: #eeeeee;
  --modal-close-button-border: rgba(0, 0, 0, 0.1);

  --works-overlay-color: rgba(47, 48, 58, 0.8);
  --project-overlay-color: rgba(33, 150, 243, 0.9);

  --backdrop-background-color: #00000033;
  --modal-form-input-border: rgba(33, 33, 33, 0.2);

  --main-font: 'Roboto', sans-serif;
  --title-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
